<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nuget.6pak.dev" value="https://nuget.6pak.dev/v3/index.json" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />

        <!-- TODO remove -->
        <add key="local" value="./libs" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>

        <packageSource key="nuget.6pak.dev">
            <package pattern="OpinionPak.Sdk" />
        </packageSource>

        <packageSource key="dotnet-tools">
            <package pattern="Microsoft.SymbolStore" />
            <package pattern="Microsoft.FileFormats" />
        </packageSource>

        <packageSource key="local">
            <package pattern="BepInEx.GameTestFramework" />
        </packageSource>
    </packageSourceMapping>
</configuration>
